/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

/* framework classes */
.grid {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    font-family: sans-serif;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

@media only screen and (max-width: 750px) {
    .col-4 {
        width: 50%
    }
}

@media only screen and (max-width: 500px) {
    .col-4 {
        width: 100%
    }
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* non-framework classes */



.title {
    text-align: right;
    float: right;
    text-transform: uppercase;

}

.name {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: -10px;
}

.hero {
    padding: 0 10px;
}

.app {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 40px;
}

.app-name {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: -20px;
}

.app-link {
    color: grey;
    text-decoration: none;
    font-size: .75em;
}
